<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vue.js基礎 Todoアプリケーション</title>
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
  {{ errorMsg }}
  <form v-on:submit.prevent>
    <input type="text" v-model="newTask">
    <button v-on:click="addTask">追加</button>
    <ul>
      <h1>Todo</h1>
      <li v-for="todo in filteredTodos(false)">
        <span :class="{done: todo.isDone}">{{ todo.task }}</span>
        <input type="checkbox" v-model="todo.isDone">
      </li>
      <h1>完了</h1>
      <li v-for="todo in filteredTodos(true)">
        <span :class="{done: todo.isDone}">{{ todo.task }}</span>
      </li>
    </ul>
  </form>
  </div>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newTask: "",
        todos: [],
        errorMsg: ""
      },
      methods: {
        addTask:function(event) {
          if (this.newTask == "") {
            this.errorMsg = "Todoは1文字以上で入力してください。";
            return;
          }
          if (this.newTask.length > 10) {
            this.errorMsg = "Todoは10文字以下で入力してください。";
            return;
          }

          const todo = {
            task: this.newTask,
            isDone: false
          };
          this.todos.push(todo);
          this.newTask = "";
          this.errorMsg = "";
        }
      },
      computed: {
        filteredTodos: function() {
          return function(isDone) {
            if (isDone) {
              return this.todos.filter((todo) => {
                return todo.isDone;
              });
            } else {
              return this.todos.filter((todo) => {
                return !todo.isDone;
              });
            }
          }
        }
      }
    })
  </script>
</body>
</html>